.tabs-with-navbars .navbars-container {
  margin-top: -1px;
}

.tabs-with-navbars .nav-tabs > li > a {
  font-size: 18px;
}

.tabs-with-navbars .nav-tabs > .active > a,
.tabs-with-navbars .nav-tabs > .focus > a {
  background-color: #f8f8f8;
  z-index: 1000;
}

.tabs-with-navbars .navbar-nav {
  margin: 0;
}

.tabs-with-navbars .navbar-nav > li > a {
  padding: 8px 20px;
}

.tabs-with-navbars .navbar-nav > .active > a:active,
.tabs-with-navbars .navbar-nav > .active > a:focus,
.tabs-with-navbars .navbar-nav > .active > a:hover,
.tabs-with-navbars .navbar-nav > .active > a {
  background-color: transparent;
  font-weight: 700;
}

.tabs-with-navbars .navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 10px;
}

.navbar-item-icon {
  margin-right: 5px;
}
